.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.video-container {
  position: relative;
  width: 800px;
}
.comment-layer {
  top:0;
  left:0;
  z-index: 1000;
  background-color: bisque;
}
#player1 {
  position: absolute;
  z-index: 1;
}
#lalala {
  width: 800px;
  height: 600px;
  position: contents;
  top:0;
  left:0;
  z-index: 999;
}
.bullet {
  position:absolute;
  right:0;
  color:yellow;
  z-index: 1000;
}
